<label for="file">{{label|default('Choose a file')}}</label>
<input type="file" id="{{name|default('file')}}" name="{{name|default('file')}}"{% if accept %} accept="{{accept}}"{% endif %}{% if not allowBlank|default(true) %} required{% endif %}>
