{% include 'header.twig' with { loadStyles:true } %}
</head>
<body>
  <section>
    <h2>Auto Tag / Tag</h2>
    {% include 'autotag.twig' with {
      allowBlank:true,
      options:[{
        title:'Black'
      },{
        title:'Gold'
      },{
        title:'Silver'
      }]
    } %}
  </section>

  <section>
    <h2>Checkboxes</h2>
    {% include 'checkbox.twig' with {
      options:[{
        title:'Black'
      },{
        title:'Gold'
      },{
        title:'Silver'
      }]
    } %}
  </section>

  <section>
    <h2>Date</h2>
    {% include 'date.twig' with {
      min:'2013-12-25',
      max:'2016-12-25'
    } %}
  </section>

  <section>
    <h2>Time</h2>
    {% include 'time.twig' %}
  </section>

  <section>
    <h2>Date Time</h2>
    {% include 'date.twig' with {
      id: 'date-2',
      name: 'date-2'
    } only %}
    {% include 'time.twig' with {
      id: 'time-2',
      name: 'time-2'
    } only %}
  </section>

  <section>
    <h2>Phone Number</h2>
    {% include 'labeledinput.twig' with {
      id:'tel',
      name:'tel',
      type:'tel',
      label:'Cell'
    } %}
  </section>

  <section>
    <h2>Month</h2>
    {% include 'date.twig' with {
      type:'month',
      id: 'month',
      name: 'month',
      label: 'Month'
    } %}
  </section>

  <section>
    <h2>Week</h2>
    {% include 'date.twig' with {
      type:'week',
      id: 'week',
      name: 'week',
      label: 'Week'
    } %}
  </section>

  <section>
    <h2>DropDown List Menu</h2>
    {% include 'dropdown-list-menu.twig' with {
      options:[{
        title:'MODX',
        value:'modx'
      },{
        title:'Wordpress',
        value:'wordpress'
      },{
        title:'Joomla!',
        value:'joomla!'
      }]
    } %}
  </section>

  <section>
    <h2>Email</h2>
    {% include 'email.twig' with {
    maxLength: undefined,
    options:[{
      title:'mail@devries.jp'
    },{
      title:'johnpaul.devries@gmail.com'
    }]
    } %}
  </section>

  <section>
    <h2>File</h2>
    {% include 'file.twig' %}
  </section>

  <section hidden>
    <h2>Hidden</h2>
    {% include 'hidden.twig' %}
  </section>

  <section>
    <h2>Image</h2>
    {% include 'file.twig' with {
      label:"Choose an image",
      name:"image",
      accept:"image/*"
    } %}
  </section>

  <section>
    <h2>Listbox (Single&ndash;Select)</h2>
    {% include 'datalist.twig' %}
  </section>

  <section>
    <h2>Listbox (Multi&ndash;Select)</h2>
    {% include 'listbox-multi.twig' %}
  </section>

  <section>
    <h2>Number</h2>
    {% include 'number.twig' with {
      options:[{
        title:4
      },{
        title:20
      }]
    } %}
  </section>

  <section>
    <h2>Radio Options</h2>
    {% include 'radios.twig' with {
      legend:'Options',
      options:[{
        for: 'option_a',
        id: 'option_a',
        name: 'radio',
        label: 'Option A',
        type: 'radio'
      },{
        for: 'option_b',
        id: 'option_b',
        name: 'radio',
        label: 'Option B',
        type: 'radio'
      },{
        for: 'option_c',
        id: 'option_c',
        name: 'radio',
        label: 'Option C',
        type: 'radio'
      },{
        for: 'option_d',
        id: 'option_d',
        name: 'radio',
        label: 'Option D',
        type: 'radio'
      },{
        for: 'option_d',
        id: 'option_d',
        name: 'radio',
        label: 'Option D',
        type: 'radio'
      },{
        for: 'option_e',
        id: 'option_f',
        name: 'radio',
        label: 'Option F',
        type: 'radio'
      },{
        for: 'option_g',
        id: 'option_g',
        name: 'radio',
        label: 'Option G',
        type: 'radio'
      },{
        for: 'option_h',
        id: 'option_h',
        name: 'radio',
        label: 'Option H',
        type: 'radio'
      }]
    } %}
  </section>

  <section>
    <h2>Resource List</h2>
    {% include 'dropdown-list-menu.twig' with {
      id: 'resource-list',
      name: 'resource-list',
      label: 'Resource List',
      options:[{
        title:'MODX',
        value:'modx'
      },{
        title:'Wordpress',
        value:'wordpress'
      },{
        title:'Joomla!',
        value:'joomla!'
      }]
    } %}
  </section>

  <section>
    <h2>Rich Text</h2>
    {% include 'richtext.twig' %}
  </section>

  <section>
    <h2>JSON</h2>
    <div class="jsonarea">
      {% include 'richtext.twig' with {
        id: "json",
        name: "json"
      } only %}
      <p hidden class="status"></p>
    </div>
  </section>

  <section>
    <h2>URL</h2>
    {% include 'url.twig' with {
      options:[{
        title:'http://google.com'
      },{
        title:'http://facebook.com'
      }]
    } %}
  </section>

  <section>
    <h2>Slider</h2>
    {% include 'slider.twig' with {
      min:0,
      max:200,
      step:1,
      options:[{
        title:100
      },{
      title:150
      }]
    } %}
  </section>



  <script defer src="./assets/components/m5/js/m5.input.js"></script>
  <script defer src="./assets/components/m5/js/m5.autotag.js"></script>

  <script defer src="./assets/components/JSONarea/js/JSONArea.js"></script>

  <script defer>
    document.addEventListener('DOMContentLoaded', function() {
      const autoTag = new M5AutoTag(document.getElementById('auto-tag'));
    });
  </script>

  <script defer>
    document.addEventListener('DOMContentLoaded', function() {
      const jsonAreas = document.querySelectorAll('.jsonarea');
      for(let i = 0; i < jsonAreas.length; i++) {
        const jsonAreaWrapper = jsonAreas[i],
        jsonArea = new JSONArea(jsonAreaWrapper.querySelector('textarea')),
        status = jsonAreaWrapper.querySelector('.status');

        jsonArea.getElement().addEventListener('update', function(e) {
          status.removeAttribute('hidden');
          status.innerHTML = (e.detail.isJSON) ? 'Valid JSON' : 'Invalid JSON';
        });
      }
    });
  </script>

</body>
</html>
