{% if not inputFirst|default(false) %}
<label for="{{name|default('input')}}">{{label|default('Input')}}</label>
{% include 'input.twig' %}
{% else %}
{% include 'input.twig' %}
<label for="{{name|default('input')}}">{{label|default('Input')}}</label>
{% endif %}
