<fieldset>
  <legend>{{legend|default('Options')}}</legend>
  <div class="options container">
    {% for option in options %}
      <div class="option">{% include 'labeledinput.twig' with option only %}</div>
    {% endfor %}
  </div>
</fieldset>
