<label for="{{id|default('content')}}">{{label|default('Content')}}</label><br>
<textarea name="{{name|default('content')}}" id="{{id|default('content')}}"{% if not allowBlank|default(true) %} required{% endif %}></textarea>
