<label for="website">Website</label>
<input type="url" name="website" id="website"{% if options.length %} list="url_list"{% endif %}{% if not allowBlank|default(true) %} required{% endif %}>
{% if options.length %}
  <datalist id="url_list">
  {% for option in options %}
    <option>{{option.title}}</option>
  {% endfor %}
  </datalist>
{% endif %}
